
.fullscreen
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 100%

.capitalize-first-letter:first-letter
    text-transform: capitalize

.funny-font
    font-family: "MyEpicSelfie" !important
