.block-wrapper
    .block-header
        .icon
            color: $tc-blue
        .block-header-txt
            font-size: 1.2rem
    .block-body-txt
        font-size: 1rem
.activity-wrapper
    position: relative
    padding: 40px 15px
    @media (max-width: 767px)
        padding: 50px 0
    // &:nth-child(odd)
    //     background-color: $tc-blue
    &:nth-child(even) .activity-row
        flex-direction: row-reverse
        > [class*='col']:first-child
            padding-left: 50px
            @media (max-width: 767px)
                padding-left: 15px
    .activity-header
        display: flex
        align-items: center
        *
            color: $tc-blue-dark-1
        .activity-header-icon
            color: $tc-blue-dark-1
            font-size: 1.2rem
        .activity-header-txt
            margin-left: 0.5rem
    .activity-img
        @media (max-width: 767px)
            // display: inline-block
            // position: absolute
            // transform: translate(30%, -20%)
            // top: 0
            // right: 0
            // left: unset
            // width: auto
            .img-wrapper
                max-width: 400px
                margin: 0 auto
    //         img
    //             height: 150px
    //             opacity: .3
    // .img-wrapper
    //     img
    //         max-height: 500px
    //         @media (max-width: 767px)
    //             max-height: 350px
