.block-wrapper
    .block-header
        .icon
            color: $tc-blue
        .block-header-txt
            font-size: 1.2rem
    .block-body-txt
        font-size: 1rem
.activity-wrapper
    .img-wrapper
        img
            max-height: 500px
