.section-wrapper
    padding: 80px 0
    // height: 700px
    &:nth-child(odd)
        background-color: $tc-grey-light
    &:nth-child(even)
        .mainRow
            flex-direction: row-reverse
            > [class*='col']:first-child
                padding-left: 50px
