.menu
    // position: absolute
    // width: 100%
    // z-index: 1000
    .menu-item
        i
            font-size: 0.7rem
.brand
    &:hover .logo-cup
        transform: rotate(360deg) scale(1.1)
    .logo-cup
        transition: transform .7s ease

.brand-txt
    font-size: 1.1rem
    font-family: IstokWeb, Untitled-Sans
    // text-align: center
