.contributors
    .contributor
        .image
            box-sizing: border-box
            max-width: 100px
            max-height: 100px
            width: 100px
            height: 100px
            border-radius: 50%
            border: 5px solid $tc-blue
            overflow: hidden
            background-image: url('/assets/img/teacode/teacode.png')
            background-position: center
            background-size: cover
            img
                max-width: 100px
                max-height: 100px
            @media (max-width: 576px)
                border: 2px solid $tc-blue
                max-width: 70px
                max-height: 70px
                img
                    max-height: 75px
                    max-width: 75px
