@import url(https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah|Kalam:400,700|Caveat:400,700|Shadows+Into+Light&subset=devanagari,cyrillic,latin-ext);@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow|Londrina+Sketch|Istok+Web);:root {
  --tc-white: #ffffff;
  --tc-blue: #1DA1F2;
  --tc-blue-dark-1: #337AB7;
  --tc-blue-dark-2: #00437D;
  --tc-grey: #dfdfdf;
  --tc-grey-light: #f9f9f9;
  --tc-grey-dark: #b1b1b1;
  --tc-black-almost: #313a3f;
  --tc-black-almost-1: #2c2f33;
  --tc-yellow: #FFC700;
  --tc-oil: #c5c800;
  --tc-green-light: #97C024;
  --tc-red-light: #DB5844;
  --navbar-height: 56px;
}

@font-face {
  font-family: "MyEpicSelfie";
  src: url("/assets/fonts/My Epic Selfie.woff2") format("woff2"), url("/assets/fonts/My Epic Selfie.woff") format("woff"), url("/assets/fonts/My Epic Selfie.ttf") format("truetype");
}
@font-face {
  font-family: "IstokWeb";
  src: url("/assets/fonts/istokweb.woff2") format("woff2");
}
@font-face {
  font-family: "Harmattan";
  src: url("/assets/fonts/Harmattan-Regular.ttf") format("truetype"), url("/assets/fonts/Harmattan-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/UntitledSansWeb-Regular.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/UntitledSansWeb-RegularItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/UntitledSansWeb-Medium.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Medium.woff") format("woff");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/UntitledSansWeb-MediumItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/UntitledSansWeb-Bold.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/UntitledSansWeb-BoldItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: GT-America;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Regular.woff") format("woff");
}
@font-face {
  font-family: GT-America;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Regular-Italic.woff") format("woff");
}
@font-face {
  font-family: GT-America;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Medium.woff") format("woff");
}
@font-face {
  font-family: GT-America;
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/GT-America-Standard-Medium-Italic.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Medium-Italic.woff") format("woff");
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes spinBound {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@keyframes spinBound {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@-webkit-keyframes spinClockWiseReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinClockWiseReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spinClockWise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinClockWise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes upAndDown {
  0% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(10%) translateX(-50%);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(10%) translateX(-50%);
  }
}
* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IstokWeb" !important;
}
body * {
  color: #313a3f;
}

a {
  color: #1DA1F2;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.txt-wrapper .item-link {
  background-size: cover;
  background-position: center center;
}
.txt-wrapper .item-link ._item-link-txt {
  position: absolute;
  bottom: -50px;
  color: #000;
}
.txt-wrapper .item-link-txt {
  transform: scale(1);
  transition: transform 0.3s ease;
}
.txt-wrapper img.icon {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  height: 100%;
  transform: scale(0);
  transition: transform 0.3s ease;
}
.txt-wrapper:hover img.icon {
  transform: scale(1);
}
.txt-wrapper:hover .item-link-txt {
  transform: scale(0);
}

.discord {
  background-color: #7289D9;
}
.discord:hover, .discord:active, .discord:focus {
  background-color: #6b7fc9;
}

.facebook {
  background-color: #3C5B9B;
}
.facebook:hover, .facebook:active, .facebook:focus {
  background-color: #36528a;
}

.youtube {
  background-color: #e30000;
}
.youtube:hover, .youtube:active, .youtube:focus {
  background-color: #ee0a0a;
}

.podcast {
  background-color: #ff7f0f;
}
.podcast:hover, .podcast:active, .podcast:focus {
  background-color: #eb740d;
}

.blog {
  background-color: #1DA1F3;
}
.blog:hover, .blog:active, .blog:focus {
  background-color: #1a92dd;
}

.udemy {
  background-color: #EA5252;
}
.udemy:hover, .udemy:active, .udemy:focus {
  background-color: #cc4848;
}

.discord, .youtube, .podcast {
  transition: transform 0.3s ease;
  transform: scale(1);
}
.discord:hover, .youtube:hover, .podcast:hover {
  transform: scale(1.1);
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.square-20 {
  width: 20px !important;
  height: 20px !important;
}

.square-25 {
  width: 25px !important;
  height: 25px !important;
}

.square-30 {
  width: 30px !important;
  height: 30px !important;
}

.square-35 {
  width: 35px !important;
  height: 35px !important;
}

.square-40 {
  width: 40px !important;
  height: 40px !important;
}

.square-45 {
  width: 45px !important;
  height: 45px !important;
}

.square-50 {
  width: 50px !important;
  height: 50px !important;
}

.square-70 {
  width: 50px !important;
  height: 50px !important;
}

.square-75 {
  width: 75px !important;
  height: 75px !important;
}

.square-100 {
  width: 100px !important;
  height: 100px !important;
}

.br-none {
  border-radius: 0 !important;
}

.ff-primary {
  font-family: "IstokWeb" !important;
}

.funny-font {
  font-family: "MyEpicSelfie" !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.capitalize-first-letter:first-letter {
  text-transform: capitalize;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.white-space-nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: 900;
}

.line-height-40 {
  line-height: 40px;
}

.tc-blue {
  color: #1DA1F2;
}

.tc-blue-bg {
  color: #ffffff;
  background-color: #1DA1F2;
}

.tc-blue-dark-1 {
  color: #337AB7;
}

.tc-blue-dark-1-bg {
  color: #ffffff;
  background-color: #337AB7;
}

.tc-blue-dark-2 {
  color: #00437D;
}

.tc-blue-dark-2-bg {
  color: #ffffff;
  background-color: #00437D;
}

.tc-grey {
  color: #dfdfdf;
}

.tc-grey-bg {
  color: #ffffff;
  background-color: #dfdfdf;
}

.tc-grey-light {
  color: #f9f9f9;
}

.tc-grey-light-bg {
  color: #ffffff;
  background-color: #f9f9f9;
}

.tc-black-almost {
  color: #313a3f;
}

.tc-black-almost-bg {
  color: #ffffff;
  background-color: #313a3f;
}

.tc-black-almost-1 {
  color: #2c2f33;
}

.tc-black-almost-1-bg {
  color: #ffffff;
  background-color: #2c2f33;
}

.key-word {
  color: #ffffff;
  background-color: #337AB7;
}

.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .py-md-80px {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .py-md-100px {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .py-md-150px {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.list-group {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.list-group .list-group-item {
  margin: 5px;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  border: none;
}
.list-group .list-group-item.link {
  transition: all 0.3s ease;
  transform: scale(1);
}
.list-group .list-group-item.link:hover {
  transform: scale(1.1);
}
.list-group .list-group-item img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.wrapper {
  overflow: hidden;
  margin: auto;
}
.wrapper .col {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper .col .txt-wrapper {
  position: relative;
  border-radius: 5px;
  padding: 0;
  min-height: 150px;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .col .txt-wrapper a {
  color: #7c7c7c;
  font-size: 2.3rem;
  text-decoration: none;
  padding: 10px;
  white-space: normal;
}
.wrapper .col .txt-wrapper a:focus {
  box-shadow: none;
}

.back {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.6rem;
  transition: transform;
  z-index: 1;
  font-family: "Caveat";
}
.back:hover {
  -webkit-animation: moveRight 0.3s ease forwards;
          animation: moveRight 0.3s ease forwards;
}

.resume, .links {
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: "Caveat";
  font-size: 1.6rem;
  transition: transform;
  z-index: 1;
}
.resume:hover, .links:hover {
  -webkit-animation: moveLeft 0.3s ease forwards;
          animation: moveLeft 0.3s ease forwards;
}

.message {
  position: absolute;
}
.message .welcome {
  text-decoration: underline;
}
.message .message-bluring {
  z-index: 2;
  position: absolute;
  filter: blur(10px);
  background-color: #fff;
  opacity: 0.7;
}
.message .message-wrapper {
  position: relative;
  z-index: 3;
  font-family: Harmattan;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #1DA1F3;
  width: 500px;
  height: 300px;
  min-height: 200px;
  min-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column !important;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .message .message-wrapper {
    font-size: 1.4rem !important;
    width: 90% !important;
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .message .message-wrapper {
    font-size: 1.6rem;
    width: 450px;
    padding: 15px;
  }
}
.message .message-wrapper .close {
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
}

@media (max-width: 767px) {
  .wrapper .container .items-wrapper {
    height: 100%;
  }
  .wrapper .container .row .col:first-child, .wrapper .container .col .col:first-child, .wrapper .container .txt-wrapper .col:first-child {
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  .wrapper .container .row .col:last-child, .wrapper .container .col .col:last-child, .wrapper .container .txt-wrapper .col:last-child {
    justify-content: flex-start;
    padding-top: 10px;
  }
  .wrapper .container .row .col .txt-wrapper, .wrapper .container .col .col .txt-wrapper, .wrapper .container .txt-wrapper .col .txt-wrapper {
    width: 80%;
  }
  .wrapper .container .row .col .txt-wrapper a, .wrapper .container .col .col .txt-wrapper a, .wrapper .container .txt-wrapper .col .txt-wrapper a {
    font-size: 1.7rem;
  }
  .wrapper .container .item-link .item-link-txt {
    bottom: -40px;
  }
}
.list-group .list-group-item {
  border-radius: 0 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.menu {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.menu .menu-item i {
  font-size: 0.7rem;
}

.brand:hover .logo-cup {
  transform: rotate(360deg) scale(1.1);
}
.brand .logo-cup {
  transition: transform 0.7s ease;
}

.brand-txt {
  font-size: 1.1rem;
  font-family: IstokWeb, Untitled-Sans;
}

.about {
  position: relative;
}

.blog-header {
  margin-top: 66px;
}

.brand-slogan {
  text-align: center;
  font-family: Untitled-Sans;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .brand-slogan {
    font-size: 2rem;
    text-align: left;
  }
}
.brand-slogan span {
  color: #1DA1F2;
}

.welcome-message * {
  text-align: center;
}
@media (max-width: 767px) {
  .welcome-message * {
    text-align: left;
  }
}
.welcome-message .welcome-message-wrapper {
  font-size: 1.1rem;
}
.welcome-message .btn-action .btn-join-us {
  font-size: 1rem;
  transition: transform 0.3s ease;
}
.welcome-message .btn-action .btn-join-us:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.link-wrapper a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-wrapper i {
  font-size: 1.5rem;
}

.block-wrapper .block-header .icon {
  color: #1DA1F2;
}
.block-wrapper .block-header .block-header-txt {
  font-size: 1.2rem;
}
.block-wrapper .block-body-txt {
  font-size: 1rem;
}

.activity-wrapper {
  position: relative;
  padding: 40px 15px;
}
@media (max-width: 767px) {
  .activity-wrapper {
    padding: 50px 0;
  }
}
.activity-wrapper:nth-child(even) .activity-row {
  flex-direction: row-reverse;
}
.activity-wrapper:nth-child(even) .activity-row > [class*=col]:first-child {
  padding-left: 50px;
}
@media (max-width: 767px) {
  .activity-wrapper:nth-child(even) .activity-row > [class*=col]:first-child {
    padding-left: 15px;
  }
}
.activity-wrapper .activity-header {
  display: flex;
  align-items: center;
}
.activity-wrapper .activity-header * {
  color: #337AB7;
}
.activity-wrapper .activity-header .activity-header-icon {
  color: #337AB7;
  font-size: 1.2rem;
}
.activity-wrapper .activity-header .activity-header-txt {
  margin-left: 0.5rem;
}
@media (max-width: 767px) {
  .activity-wrapper .activity-img .img-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}

.page-footer {
  position: relative;
  background-color: #222;
}
.page-footer * {
  color: #FAFAFA;
  font-size: 1.2rem;
}
.page-footer .container-fluid {
  padding: 0 15px;
}
.page-footer .container-fluid .container {
  padding: 10px 0;
}
.page-footer p {
  margin: 0;
}
.page-footer i {
  font-size: 1rem;
}
.page-footer .owner i.fa-heart {
  color: #FF5050;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1090;
  top: 0;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader img {
  max-width: 200px;
  transition: transform 1s linear;
  -webkit-animation: spinBound 1s linear forwards;
          animation: spinBound 1s linear forwards;
}

.disappear {
  transition: opacity 1s linear;
  -webkit-animation: disappear 1s linear normal forwards;
          animation: disappear 1s linear normal forwards;
}

.mouse-icon-wrapper {
  transform: translateY(-10%) translateX(-50%);
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 1000;
  -webkit-animation: upAndDown 1s ease infinite alternate;
          animation: upAndDown 1s ease infinite alternate;
}
.mouse-icon-wrapper img {
  height: 40px;
}

.particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}