.tc-blue
    color: $tc-blue
.tc-blue-bg
    color: $tc-white
    background-color: $tc-blue
.tc-blue-dark-1
    color: $tc-blue-dark-1
.tc-blue-dark-1-bg
    color: $tc-white
    background-color: $tc-blue-dark-1
.tc-blue-dark-2
    color: $tc-blue-dark-2
.tc-blue-dark-2-bg
    color: $tc-white
    background-color: $tc-blue-dark-2
.tc-grey
    color: $tc-grey
.tc-grey-bg
    color: $tc-white
    background-color: $tc-grey
.tc-grey-light
    color: $tc-grey-light
.tc-grey-light-bg
    color: $tc-white
    background-color: $tc-grey-light
.tc-black-almost
    color: $tc-black-almost
.tc-black-almost-bg
    color: $tc-white
    background-color: $tc-black-almost
.tc-black-almost-1
    color: $tc-black-almost-1
.tc-black-almost-1-bg
    color: $tc-white
    background-color: $tc-black-almost-1

.key-word
    color: $tc-white
    background-color: $tc-blue-dark-1
