.ff-primary
    font-family: "IstokWeb" !important

.funny-font
    font-family: "MyEpicSelfie" !important



.capitalize-first-letter:first-letter
    text-transform: capitalize

.white-space-pre-wrap
    white-space: pre-wrap

.bold
    font-weight: 900

